<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Product Detail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
    <!-- bootstrap -->
    <link th:href="@{/resource/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/resource/bootstrap/css/bootstrap-responsive.min.css}" rel="stylesheet">

    <link th:href="@{/resource/themes/css/bootstrappage.css}" rel="stylesheet"/>

    <!-- global styles -->
    <link th:href="@{/resource/themes/css/flexslider.css}" rel="stylesheet"/>
    <link th:href="@{/resource/themes/css/jquery.fancybox.css}" rel="stylesheet"/>
    <link th:href="@{/resource/themes/css/main.css}" rel="stylesheet"/>

    <!-- scripts -->
    <script th:src="@{/resource/themes/js/jquery-1.7.2.min.js}"></script>
    <script th:src="@{/resource/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/resource/themes/js/superfish.js}"></script>
    <script th:src="@{/resource/themes/js/jquery.fancybox.js}"></script>
    <script th:src="@{/resource/themes/js/jquery.scrolltotop.js}"></script>
    <script th:src="@{/resource/themes/js/main.js}"></script>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<th:block th:replace="/template/topbar :: content"></th:block>

<div id="wrapper" class="container">
    <th:block th:replace="/template/navigation :: content"></th:block>

    <section class="header_text sub">
        <img class="pageBanner" th:src="@{/resource/themes/images/pageBanner.png}" alt="New products" >
        <h4><span th:text="${toy.name}"></span></h4>
    </section>

    <!--Main Content-->
    <section class="main-content">
        <div class="row">
            <div class="span9">
                <div class="row">
                    <div class="span4">
                        <a th:href="${toy.image}" class="thumbnail" data-fancybox-group="group1" title="Description"><img alt="" th:src="${toy.image}"></a>
                        <ul class="thumbnails small">
                            <th:block th:each="image : ${images}">
                                <li class="span1">
                                    <a th:href="${image.link}" class="thumbnail" data-fancybox-group="group1" th:title="${image.title}"><img th:src="${image.link}" alt=""></a>
                                </li>
                            </th:block>
                        </ul>
                    </div>
                    <div class="span5">
                        <address>
                            <strong>Brand:</strong> <span th:text="${toy.brand.name}"></span><br>
                            <strong>Manufacturing Date:</strong> <span th:text="${toy.manufacturingDate}"></span><br>
                            <strong>Nation:</strong> <span th:text="${toy.brand.nation}"></span><br>
                            <strong>Availability:</strong> <span th:if="${toy.quantityInStock == 0}">Out Of Stock</span><span th:if="${toy.quantityInStock != 0}">Stocking</span><br>
                            <strong>Quantity:</strong> <span th:text="${toy.quantityInStock}"></span><br>
                        </address>
                        <h4><strong th:text="'Price: $' + ${toy.price}"></strong></h4>
                    </div>
                    <div class="span5">
                        <form class="form-inline" th:action="@{/add-to-cart/__${toy.id}__}" onsubmit="return cartValidate()" method="get">
                            <p>&nbsp;</p>
                            <label>Qty:</label>
                            <input type="text" name="qty" class="span1">
                            <input type="hidden" name="qtyInStock" th:value="${toy.quantityInStock}">
                            <input class="btn btn-inverse" type="submit" value="Add to cart">
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="span9">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="active"><a href="#home">Description</a></li>
                            <li class=""><a href="#profile">Additional Information</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="home" th:text="${toy.description}"></div>
                            <div class="tab-pane" id="profile">
                                <table class="table table-striped shop_attributes">
                                    <tbody>
                                        <th:block th:each="info : ${informations}">
                                            <tr class="">
                                                <th th:text="${info.header}"></th>
                                                <td th:text="${info.content}"></td>
                                            </tr>
                                        </th:block>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="span9">
                        <br>
                        <h4 class="title">
                            <span class="pull-left"><span class="text"><strong>Related</strong> Products</span></span>
                            <span class="pull-right">
										<a class="left button" href="#myCarousel-1" data-slide="prev"></a><a class="right button" href="#myCarousel-1" data-slide="next"></a>
									</span>
                        </h4>
                        <div id="myCarousel-1" class="carousel slide">
                            <div class="carousel-inner">
                                <div class="active item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="product_detail.html"><img alt="" src="/resource/themes/images/ladies/6.jpg"></a><br/>
                                                <a href="product_detail.html" class="title">Wuam ultrices rutrum</a><br/>
                                                <a href="#" class="category">Suspendisse aliquet</a>
                                                <p class="price">$341</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="product_detail.html"><img alt="" src="/resource/themes/images/ladies/5.jpg"></a><br/>
                                                <a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
                                                <a href="#" class="category">Phasellus consequat</a>
                                                <p class="price">$341</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <a href="product_detail.html"><img alt="" src="/resource/themes/images/ladies/4.jpg"></a><br/>
                                                <a href="product_detail.html" class="title">Praesent tempor sem</a><br/>
                                                <a href="#" class="category">Erat gravida</a>
                                                <p class="price">$28</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <ul class="thumbnails listing-products">
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="product_detail.html"><img alt="" src="/resource/themes/images/ladies/1.jpg"></a><br/>
                                                <a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
                                                <a href="#" class="category">Phasellus consequat</a>
                                                <p class="price">$341</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <a href="product_detail.html"><img alt="" src="/resource/themes/images/ladies/2.jpg"></a><br/>
                                                <a href="product_detail.html">Praesent tempor sem</a><br/>
                                                <a href="#" class="category">Erat gravida</a>
                                                <p class="price">$28</p>
                                            </div>
                                        </li>
                                        <li class="span3">
                                            <div class="product-box">
                                                <span class="sale_tag"></span>
                                                <a href="product_detail.html"><img alt="" src="/resource/themes/images/ladies/3.jpg"></a><br/>
                                                <a href="product_detail.html" class="title">Wuam ultrices rutrum</a><br/>
                                                <a href="#" class="category">Suspendisse aliquet</a>
                                                <p class="price">$341</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3 col">
                <div class="block">
                    <ul class="nav nav-list">
                        <li class="nav-header">SUB CATEGORIES</li>
                        <li><a href="products-brand.html">Nullam semper elementum</a></li>
                        <li class="active"><a href="products-brand.html">Phasellus ultricies</a></li>
                        <li><a href="products-brand.html">Donec laoreet dui</a></li>
                        <li><a href="products-brand.html">Nullam semper elementum</a></li>
                        <li><a href="products-brand.html">Phasellus ultricies</a></li>
                        <li><a href="products-brand.html">Donec laoreet dui</a></li>
                    </ul>
                    <br/>
                    <ul class="nav nav-list below">
                        <li class="nav-header">MANUFACTURES</li>
                        <li><a href="products-brand.html">Adidas</a></li>
                        <li><a href="products-brand.html">Nike</a></li>
                        <li><a href="products-brand.html">Dunlop</a></li>
                        <li><a href="products-brand.html">Yamaha</a></li>
                    </ul>
                </div>
                <div class="block">
                    <h4 class="title">
                        <span class="pull-left"><span class="text">Randomize</span></span>
                        <span class="pull-right">
									<a class="left button" href="#myCarousel" data-slide="prev"></a><a class="right button" href="#myCarousel" data-slide="next"></a>
								</span>
                    </h4>
                    <div id="myCarousel" class="carousel slide">
                        <div class="carousel-inner">
                            <div class="active item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3">
                                        <div class="product-box">
                                            <span class="sale_tag"></span>
                                            <a href="product_detail.html"><img alt="" src="/resource/themes/images/ladies/7.jpg"></a><br/>
                                            <a href="product_detail.html" class="title">Fusce id molestie massa</a><br/>
                                            <a href="#" class="category">Suspendisse aliquet</a>
                                            <p class="price">$261</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="item">
                                <ul class="thumbnails listing-products">
                                    <li class="span3">
                                        <div class="product-box">
                                            <a href="product_detail.html"><img alt="" src="/resource/themes/images/ladies/8.jpg"></a><br/>
                                            <a href="product_detail.html" class="title">Tempor sem sodales</a><br/>
                                            <a href="#" class="category">Urna nec lectus mollis</a>
                                            <p class="price">$134</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="block">
                    <h4 class="title"><strong>Best</strong> Seller</h4>
                    <ul class="small-product">
                        <li>
                            <a href="#" title="Praesent tempor sem sodales">
                                <img src="/resource/themes/images/ladies/1.jpg" alt="Praesent tempor sem sodales">
                            </a>
                            <a href="#">Praesent tempor sem</a>
                        </li>
                        <li>
                            <a href="#" title="Luctus quam ultrices rutrum">
                                <img src="/resource/themes/images/ladies/2.jpg" alt="Luctus quam ultrices rutrum">
                            </a>
                            <a href="#">Luctus quam ultrices rutrum</a>
                        </li>
                        <li>
                            <a href="#" title="Fusce id molestie massa">
                                <img src="/resource/themes/images/ladies/3.jpg" alt="Fusce id molestie massa">
                            </a>
                            <a href="#">Fusce id molestie massa</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </section>
    <!--End Main Content-->

    <!--Footer-->
    <th:block th:replace="/template/footer :: content"></th:block>
    <!--End Footer-->
</div>

<script th:src="@{/resource/themes/js/common.js}"></script>
<script>
    $(function () {
        $('#myTab a:first').tab('show');
        $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
        })
    })
    $(document).ready(function() {
        $('.thumbnail').fancybox({
            openEffect  : 'none',
            closeEffect : 'none'
        });

        $('#myCarousel-2').carousel({
            interval: 2500
        });
    });
</script>
</body>
</html>